/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
    *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #ffff;
}

body.fixed-page {
    overflow: hidden;
}

body.page-mask {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v26-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v26-latin-regular.woff") format("woff");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    font-size: 24px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FFD15D;
    text-decoration: underline;
}

form {
    padding: 15px;
    max-width: 350px;
    min-height: 450px;
    background: #EEEEEE;
    border-radius: 30px;
    color: #000;
    text-align: center;
}

strong {
    font-weight: bold;
}

input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    padding: 10px;
}

button {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.logo {
  max-width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .logo img {
    width: 60px;
    height: 60px; }

.logo-info {
  display: contents; }
  .logo-info::before {
    content: " ";
    background: #fff;
    width: 2px;
    height: 65px;
    float: left;
    margin-right: 10px;
    margin-left: 10px; }

textarea {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  width: 250px;
  border: none;
  resize: none; }
  @media (max-width: 851px) {
    textarea {
      height: 100px;
      margin-bottom: 20px; } }

.textarea-email {
  display: none; }

/* Blocks */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 80px;
  color: #fff;
  background: rgba(103, 130, 162, 0.58);
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -ms-flex-align: center;
      align-items: center; }

.header__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.header__menu {
  display: -ms-flexbox;
  display: flex; }

.header__menu li {
  list-style: none;
  margin: 0px 0px 0px 36px;
  font-size: 18px;
  text-decoration: none; }

.content-wrapper {
  margin-top: 78px;
  padding: 10px;
  line-height: 34px; }

@media (max-width: 860px) {
  .header__nav {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    background: #6782a2;
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
    left: -100%; }
  .header__menu {
    display: block; }
  .header__nav.open-menu {
    left: 0; }
  .header__menu li {
    margin: 40px 0px 40px 33px;
    font-size: 14px; }
  .menu-burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px; }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0 auto; }
  .menu-burger__header span {
    top: 16px; }
  .menu-burger__header:after, .menu-burger__header:before {
    content: ''; }
  .menu-burger__header:after {
    bottom: 5px; }
  .menu-burger__header:before {
    top: 5px; }
  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s; }
  .menu-burger__header.open-menu:before {
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 16px;
    transition: 0.4s; }
  .menu-burger__header.open-menu:after {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s; }
  header {
    height: 60px; } }

@media (max-width: 860px) {
  .header__contact {
    text-align: center;
    padding-bottom: 10px; } }

.section {
  min-height: 850px; }
  .section .section__title {
    padding-top: 50px;
    font-size: 48px;
    color: #EDC660;
    text-align: center;
    padding-bottom: 50px; }

.section.title {
  height: 100vh !important;
  background-image: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 1080px) {
    .section.title {
      height: 850px !important;
      background-size: auto; } }
  @media (max-width: 1400px) {
    .section.title {
      background-size: auto; } }

.title__info {
  max-width: 550px;
  width: 100%;
  max-height: 325px; }

.title__info-title {
  font-size: 50px; }
  @media (max-width: 375px) {
    .title__info-title {
      font-size: 36px; } }

.title__info-subtitle {
  font-size: 28px;
  padding: 25px 0; }

.title__info-btn button.btn {
  width: 200px; }

.section.about {
  background-image: url(../images/bg2.png);
  background-position: center;
  background-size: cover; }
  @media (max-width: 672px) {
    .section.about {
      padding-bottom: 50px; } }

.about__wrapper {
  min-height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.about__list {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 35px;
  max-width: 1200px;
  width: 100%;
  min-height: 600px;
  height: 100%;
  background: rgba(240, 240, 240, 0.75);
  box-shadow: 0px 10px 4px rgba(27, 27, 27, 0.82);
  border-radius: 50px; }
  @media (max-width: 672px) {
    .about__list {
      -ms-flex-pack: center;
          justify-content: center; } }

.about__card {
  max-width: 300px;
  min-height: 140px;
  padding-bottom: 20px; }

.about__card-title {
  font-size: 24px;
  color: #000;
  border-bottom: 3px solid #EDC660; }

.about__card-subtitle {
  color: #000;
  font-size: 18px;
  letter-spacing: 3px;
  padding-top: 10px; }

.section.services {
  background-image: url(../images/bg3.png);
  background-position: center;
  background-size: cover;
  min-height: auto; }

.services__list {
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 851px) {
    .services__list {
      -ms-flex-pack: center;
          justify-content: center; } }

.service__card-num {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  top: -20px;
  left: -20px;
  position: absolute;
  width: 80px;
  height: 80px;
  background: #EDC660;
  border-radius: 45px; }

.service__card {
  position: relative;
  color: #000;
  width: 400px;
  height: 250px;
  background: #EBEBEB;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.53));
          filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.53)); }

.service__card-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px; }

.service__card-subtitle {
  font-size: 18px; }

.section.stages {
  background-image: url(../images/bg4.png);
  background-position: center;
  background-size: cover; }

.icon__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 672px) {
    .icon__list {
      display: none; } }

.stages__line img {
  padding-top: 45px;
  width: 97.5%; }

@media (max-width: 575px) {
  .stages__line {
    margin-bottom: 50px; } }

.stages__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 375px) {
    .stages__items {
      -ms-flex-pack: center;
          justify-content: center; } }

.stage__item {
  max-width: 150px;
  text-align: center; }
  @media (max-width: 575px) {
    .stage__item {
      border: 1px solid #EDC660;
      padding: 10px;
      margin-bottom: 10px; } }

.stages__item-num {
  font-size: 48px; }

.stages__item-title {
  font-size: 24px; }

.stages__item-subtitle {
  font-size: 18px; }

.section.contact {
  padding-top: 102px;
  background-image: url(../images/bg5.png);
  background-position: center;
  background-size: cover; }

.form__title {
  font-size: 24px;
  padding-top: 10px; }

.inputs {
  padding-top: 20px; }

input {
  border: 1px solid transparent;
  width: 250px;
  margin: 20px auto; }
  input:focus {
    border: 1px solid #bababa; }

.modal {
  visibility: hidden;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(32, 32, 32, 0.8);
  padding: 1rem;
  transition: all 0.8s ease 0s; }
  .modal.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.8s ease 0s; }

.form__title-modal {
  font-size: 24px; }

.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 8rem;
  background-color: #eee;
  border-radius: 5px;
  position: relative; }
  @media (max-width: 1181px) {
    .modal__content {
      padding: 5rem 1rem 3rem; } }
  .modal__content--contact {
    padding-bottom: 2.5rem; }

.modal__close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear; }
  .modal__close:hover {
    opacity: 1; }

.modal__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 4rem;
  color: #b2b2b2;
  font-size: 1.2rem; }
  .modal__footer li {
    margin: 0.5rem; }
  .modal__footer a {
    color: inherit; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (max-width: 1300px) {
    .container {
      max-width: 1080px; } }

a.btn {
  color: #000;
  text-decoration: none; }

.btn {
  background: linear-gradient(180deg, #EDC660 0%, #EAB959 37.81%, #C8934F 68.02%, #997648 100%);
  border-radius: 11px;
  padding: 15px;
  opacity: 1; }
  .btn:hover {
    opacity: 0.85;
    color: #fff; }

.footer {
  min-height: 175px;
  background-color: #27313E;
  font-size: 16px; }

.footer__wrapper {
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer__data {
  max-width: 160px; }

.footer__address {
  max-width: 200px; }
  @media (max-width: 375px) {
    .footer__address {
      padding-top: 25px;
      margin: auto; } }

@media (max-width: 672px) {
  .footer__contact {
    padding-top: 10px;
    margin: 0 auto; } }

.footer__contact-tel {
  padding-bottom: 15px;
  text-align: center; }

@media (max-width: 851px) {
  form {
    margin: 0 auto; } }

@media (max-width: 672px) {
  .btn {
    padding: 5px;
    font-size: 25px; } }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
  background-color: #2c8dfb;
  color: #fff; }

.content {
  width: 100%; }

.menu-button {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #2c8dfb;
  /*margin: 14px;
border-radius: 5px;*/ }

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px; }

.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px; }

.bar {
  position: relative;
  display: block;
  width: 50px;
  height: 5px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s; }

.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
  transform: translateY(1.5px) rotate(-4.5deg); }

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9; }

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
  transform: translateY(-1.5px) rotate(4.5deg); }

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg); }

.cross .bar:nth-of-type(2) {
  opacity: 0; }

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg); }

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg); }

.cross:hover .bar:nth-of-type(2) {
  opacity: 0.1; }

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg); }

/* nav toggle */
.nav-toggle {
  display: none;
  border: 0;
  background: none;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 24px;
  z-index: 1;
  font-size: 0;
  color: transparent; }
  @media (max-width: 1080px) {
    .nav-toggle {
      display: block;
      top: 50px; } }
  @media (max-width: 575px) {
    .nav-toggle {
      right: 14px; } }

.nav-toggle:focus {
  outline: 0; }

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: background 0.2s linear; }

.nav-toggle.active .nav-toggle__item {
  background: none; }

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffff;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear; }

.nav-toggle__item:before {
  top: -8px; }

.nav-toggle__item:after {
  bottom: -8px; }

.nav-toggle.active .nav-toggle__item::before {
  -webkit-transform: rotate(45deg) translateY(-2px);
          transform: rotate(45deg) translateY(-2px);
  -webkit-transform-origin: left top;
          transform-origin: left top; }

.nav-toggle.active .nav-toggle__item::after {
  -webkit-transform: rotate(-45deg) translateY(3px);
          transform: rotate(-45deg) translateY(3px);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom; }

.nav {
  display: block; }
  @media (max-width: 1181px) {
    .nav {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #f1efef;
      width: 100%;
      display: none;
      border: 1px solid #2020;
      -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); } }

.nav.active {
  display: block; }

@media (max-width: 1181px) {
  .nav .list {
    display: block;
    height: auto;
    font-weight: 700;
    padding-left: 20px; }
    .nav .list li {
      padding: 15px 0; } }
